.nav {
    // background-color: #1a237e;
    color: white;
    text-decoration: none;
    width: 100%;
    position: static;
    padding-left: 40px;
    padding-top: 30px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    position: relative;
    margin-bottom: 30px;
}

.logo {
    font-family:'Poiret One', cursive;
    font-weight: bold;
    font-size: 36px;
}