<!--The content below is only a placeholder and can be replaced.-->
<nav class="nav">Spotify Finder</nav>
<div style="text-align:center">
  <h1>
    Welcome to Spotify Finder!
  </h1>
  <br>
<h2>Let us guide you through the world of music and your favourite artists!</h2>
<label for="typeahead-basic">Search for artist:</label>
<form (ngSubmit)="onSubmit()">
	<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="artistName" [ngModelOptions]="{standalone: true}"/>
</form>
<div class="hr">
	<hr>
</div>

<div class="albums">
<a *ngFor="let album of albums" class="col-1-4">
<a href="{{ album.external_urls.spotify }}">{{ album.name }}</a> 
</a>
</div>
</div>
<!-- <router-outlet></router-outlet> -->

