/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    font-family: 'Roboto';
    // font-size: 20px;
}

body {
    line-height: 1.6em;
    background-color: #222326;
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #cccccc;
}

